<<<<<<< HEAD
/* -----------------------------------------------------------------------------

# 404 Page Styles

=======
/* -----------------------------------------------------------------------------

# 404 Page Styles

>>>>>>> edd73f53861ee67452748d2333ba410d00e45a91
----------------------------------------------------------------------------- */
.error-text i {
  font-size: 90px;
  margin-bottom: 30px; }

.error-text h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px; }

.error-text p {
  font-size: 15px;
  margin-bottom: 30px; }

.full-height-section {
  height: 100%;
  display: table;
  width: 100%; }

.full-height-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
